*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.mp3
*.mp3
app/src/main/assets/கணேச பஞ்சரத்னம்.mp3
app/src/main/assets/கணேச பஞ்சரத்னம்.mp3
*.mp3
app/release/app-release.aab
app/src/main/assets/கணேச பஞ்சரத்னம்.mp3
*.aab
*.mp3
*.mp3
*.aab
*.mp3
